{% extends 'food/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'food/detail.css' %}">
</head>
<body>
    
    {% block body %}

    <!-- product details -->
    <div class="container">
        <div class="row">

            <!-- image -->
            <div class="col-md-6">
                <img 
                    src="{{ item.item_image }}"  
                    width="500px"
                    class="card">
            </div>
            <!-- /image -->

            <!-- other details -->
            <div class="col-md-6">
                <h2>{{ object.itm_desc }}</h2>
                <h1>{{ object.item_name }}</h1>
                <h3>${{ object.itm_price }}</h3>
                <a
                    class="btn btn-danger"
                    href="{% url 'food:delete_item' item.id %}">
                    Delete
                </a>
                <a 
                    href="{% url 'food:update_item' item.id %}"
                    class="btn btn-primary">
                    Edit
                </a>
            </div>
            <!-- /other details -->
            
        </div>
    </div>
    <!-- /product details -->

    {% endblock %}
    
</body>
</html>