{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <section>
        <div">
            <ul>

                {% for item in item_details %}
                <li
                    class="list-item">
                    <a 
                       href="{% url 'food:detail' item.id %}">
                       
                        <h3
                            class="h3-decoration">
                            {{ item.id }} -- {{ item.item_name }}
                        </h3>
                    </a>
                </li>
                {% endfor %}
                
            </ul>
        </div>
    </section>
    {% endblock %}
</body>
</html>